*{
  background-color: #072145;
}
h1{
  color: #4BE9D2;
  font-family: sans-serif;
  font-weight: lighter;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  outline: none;
  text-shadow: 4px 4px 4px black
}
.container {
    display: block;
    position: relative;
    padding-left: 8%;
    margin-bottom: 1%;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-left: 5%;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
h2{
  color: white;
  font-family: sans-serif;
  font-weight: lighter;
  padding-left: 5%;
  outline: none;
  margin-bottom: 4%;
}
.resultado{
  background: var(--color-blue);
  opacity: 1.00;
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  color: white;
  outline: none;
  border: 4px solid var(--color-blue);
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #363131;
  margin-bottom: 2%;
  padding: 5px;
}
.resultado:hover{
  background: var(--color-blue);
  transform: scale(1.2);
  outline: none;
  border: 4px solid var(--color-blue);
}
.volver{
  background: var(--color-blue);
  opacity: 1.00;
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: white;
  outline: none;
  border: 4px solid var(--color-blue);
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #363131;
}
.volver:hover{
  background: var(--color-blue);
  transform: scale(1.2);
  outline: none;
  border: 4px solid var(--color-blue);
}
.regresar{
  background: var(--color-blue);
  opacity: 1.00;
  font-family: "Verdana";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: white;
  outline: none;
  border: 4px solid var(--color-blue);
  border-radius: 8px;
  cursor: pointer;
  text-shadow: 2px 2px 2px #363131;
  margin-bottom: 2%;
  margin-left: 2%;
  padding: 5px;
  box-sizing: border-box;
}
.regresar:hover{
  background: var(--color-blue);
  transform: scale(1.2);
  outline: none;
  border: 4px solid var(--color-blue);
}
.mensaje{
  color: white;
  margin-left: 5%;
  font-family: sans-serif;
  font-weight: lighter;
  outline: none;
  font-size: 18px;
}
